body {
    background-color:#64B377;
}
.main-view {
    text-align:center;
}
.main-view button {
    margin-top:1em;
}
.main-view {
    color:#EEEEEE;
}
.header{
    font-size:5em;
}
.subheader{
    font-size:1.25em;
    font-weight:bold;
}
.caps{
    text-align:left;
}
.profile-step{
    margin-top:1em;
}
button, button i {
    color:#333;
}